<h3 class="text-center">My precious recipes passed down for generations</h3>

<% if @recipes %>
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <h4><a href="/recipe/<%= recipe.id %>"><%= recipe.title%></a></h4>
      <p>Rating: <%= recipe.rating %></p>
    </div><hr>
  <% end %>
<% end %>

<a class="btn-primary btn" href="/recipe/new">Add a recipe</a>
<a class="btn-primary btn" href="/tag/new">Add a tag</a>
<a class="btn-danger btn" href="/clear">Clear Database</a>
